.container {
  width: 1200px;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    input {
      color: white;
      margin-top: 12px;
      width: 150px;
      height: 30px;
      padding-left: 15px;
      background-color: rgb(105, 101, 101);
    }
    button {
      color: black;
      font-weight: 700;
      width: 175px;
      height: 30px;
      border-radius: 12px;
      margin-top: 12px;
      background-color: rgb(236, 156, 61);
    }
  }
}
.active {
  color: rgb(236, 156, 61);
}
@media (max-width: 320px) {
  .container {
    width: 320px;
  }
}
@media (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media (min-width: 640px) {
  .container {
    width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}
