body {
  padding: 0;
  background-color: rgb(35, 35, 35);
  margin: 0;
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .header {
    padding-top: 25px;
    height: 120px;
    color: rgb(113, 113, 113);
    display: flex;
    justify-content: space-between;
    a {
      display: block;
      text-decoration: none;
      color: rgb(113, 113, 113);
      transition: all 1s;
      &:hover {
        color: rgb(236, 156, 61);
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 320px) {
    .container {
      width: 320px;
    }
  }
  @media (min-width: 320px) {
    .container {
      width: 320px;
    }
  }
  @media (min-width: 640px) {
    .container {
      width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  @media (min-width: 960px) {
    .container {
      width: 960px;
    }
  }
}
